.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1e1e2f;
    color: white;

}

.navbar-logo a{
    font-size: 1.5rem;
    font-weight: bold;
    
}

.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.navbar-links a{
    font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}
